section.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  height: 100vh;
}

.extralength {
  margin-bottom: 30rem;
}

.red {
  background-color: rgb(255, 125, 125);
}

.blue {
  background-color: rgb(99, 99, 255);
}

.green {
  background-color: rgb(87, 164, 87);
}

.yellow {
  background-color: rgb(255, 255, 128);
}

.black {
  background-color: rgb(116, 116, 116);
}

/* hidden content */

.content {
  opacity: 0;
  transition: all 1.25s ease-in-out;
}

.visible {
  opacity: 1;
}

.blue {
  position: relative;
}

img {
  position: absolute;
  top: 0;
  right: 100vw;
  width: 100vw;
  height: auto;
}
